
* {
    box-sizing: border-box;
    
    
}

body {
  /* margin: 0; */
  font-family: 'Comfortaa', cursive;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color:white;
}

/* Style the topnav links */
.topnav button {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
    text-decoration: none;
    border: transparent;
    font-size: 16px;
    font-family: inherit;
    outline: 0;
}

/* Change color on hover */
.topnav button:hover {
    border-bottom: 2px solid #74b9ff;
    color: black;
    cursor: pointer;
}

/* Style the content */
.content {
    margin-top: 10px;
    background-color: white;
   
   
    
}

/* Style the footer */
.footer {
    background-color: white;
    padding: 10px;
    
}

h2 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
    color: #74b9ff;
    
}
.footer button {
    border: transparent;
    background: #74b9ff;
    outline: transparent;
    font-size: 16px;
    align-content: center;
    padding: 10px;
    font-family: inherit;
}

.footer button:hover {
    cursor: pointer;
}

.article {
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
#articleImage {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

#yourArticles{
    margin-top: 60px;
    padding-bottom: 20px;
    font-family: inherit;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

#logo-container {
    transform: scale(0.7);
}

h5 {
    color:#74b9ff;
}

.user-profile{
    margin-top: 50px;
    margin-right: 100px;
}

#profile-container{
    height: 3%;
}