
* {
    box-sizing: border-box;


}

body {
  /* margin: 0; */
  font-family: 'Comfortaa', cursive;
  padding-top:0px !important;
}
#dropdown

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color:white;
}

/* Style the topnav links */
.topnav button {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
    border: transparent;
    font-size: 16px;
    font-family: inherit;
    outline: 0;
}

/* Change color on hover */
.topnav button:hover {
    border-bottom: 2px solid #74b9ff;
    color: black;
    cursor: pointer;
}

/* Style the content */
.content {
    margin-top: 10px;
    background-color: white;



}

/* Style the footer */
.footer {
    background-color: white;
    padding: 10px;

}

h2 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
    color: #74b9ff;

}
.footer button {
    border: transparent;
    background: #74b9ff;
    outline: transparent;
    font-size: 16px;
    align-content: center;
    padding: 10px;
    font-family: inherit;
}

.footer button:hover {
    cursor: pointer;
}

.article {
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
#articleImage {
    width: 30%;
    height: 70%;
    float: left;
    margin-left: 70px;
    border: 15px solid #74b9ff;
    padding: 10px;
}

#content{
    margin-left: 550px;
    margin-right: 100px;
}
a.dropdown-item {
    color: black !important;
  }

.container {
    display: flex;
    flex-direction: column;
}

#yourArticles{
    margin-top: 60px;
    padding-bottom: 20px;
    font-family: inherit;
    border-bottom: 2px rgba(252, 252, 252) solid;
}

#logo-container {
    transform: scale(1.0);
}
a:hover{
    text-decoration: none;
}

h5{
    font-weight: bold;

}
h5:hover {
    color:salmon;
    cursor: pointer;
    text-decoration:none;

}

.user-profile{
    margin-top: 50px;
    margin-right: 100px;
}

#userLogName {
    margin-top: 60px;
    margin-right: 0px;
    color:#a29bfe;
}
i{
    margin-right: 300px;
    margin-top: 55px;
}

h4{
    margin-left: 450px;
    font-size: 50px;
}

#comment{
    margin-top: 400px;
    margin-left: 400px;
}
#header-container {
    display: flex !important;
}

.your-profile-container {
    display: flex;
    justify-content: flex-end;
}

#description{
    color: gray;
}

#dateTime{
    color: gray;
}
